<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666438074166-q9nmae15iluufok729ct21n378gls4gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666438074166-q9nmae15iluufok729ct21n378gls4gv</string>
	<key>API_KEY</key>
	<string>AIzaSyBakuXvIEBcK51jFxvobu_ix3n_5tTN8lg</string>
	<key>GCM_SENDER_ID</key>
	<string>666438074166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.p2k</string>
	<key>PROJECT_ID</key>
	<string>passport-to-kindergarten</string>
	<key>STORAGE_BUCKET</key>
	<string>passport-to-kindergarten.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666438074166:ios:12c27eb2d6526104c17d97</string>
	<key>DATABASE_URL</key>
	<string>https://passport-to-kindergarten.firebaseio.com</string>
</dict>
</plist>